:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  display: flex;
}

.widget-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 140px;
  width: 30%;
  padding: 10px 0;
  // height: 70px;
  background-color: white;
  border-bottom-left-radius: 20px;
  background-color: #ebf3f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;

  span {
    color: #333333;
  }
}


.table {
  margin: auto;
  width: 100%;
  min-width: 300px;
  border-collapse: collapse;
}

.table tr:first-child {
  border-top: none;
  background: #3b3c41;
  color: #fff;
}

.table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.table th {
  display: none;
  font-size: 1rem;
}

.table td {
  display: block;
  font-size: 1rem;
  // pointer-events: none;
}

.table td:first-child {
  margin-top: .5em;
}

.table td:last-child {
  margin-bottom: .5em;
}

.table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block; // bitno
  color: #000;
}

.table th,
.table td {
  text-align: left;
}

.table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}


.table th,
.table td {
  padding: .5em 1em; // bitno
}
@media screen and (max-width: 481px) {
  .table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 480px) {
  .table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .table td:before {
    display: none;
  }
  .table th,
  .table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .table th:first-child,
  .table td:first-child {
    padding-left: 0;
  }
  .table th:last-child,
  .table td:last-child {
    padding-right: 0;
  }
  .table th,
  .table td {
    padding: 1em !important;
  }
}


.loader-text {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
  animation: l1 1s linear infinite alternate;

  &.table {
    color: white;
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &:before {
      content: 'Loading table...';
    }
  }
}
.loader-text:before {
  content:"Loading widget..."
}

@keyframes l1 {to{opacity: 0}}


.loader {
  margin: 0 auto;
  text-align: center;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
