<div class="table-wrapper section">
  <table class="table">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Humidity</th>
        <th>Current Temperature</th>
        <th>Weather Condition</th>
      </tr>
      <ng-container *ngFor="let item of tableData[0]">
        <tr (click)="onClick($event, item.query.location.name)">
          <td data-th="Name">
            {{item.query.location.name}}
          </td>
          <td data-th="Humidity">
            {{item.query.current.humidity}}
          </td>
          <td data-th="Current Temperature">
            {{item.query.current.temp_c}}c
          </td>
          <td data-th="Weather Conditions">
            {{item.query.current.condition.text}}
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>
