<div class="table-wrapper section">
  <div class="loader-text table" *ngIf="isTableLoading"></div>
  <table class="table">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Humidity</th>
        <th>Current Temperature</th>
        <th>Weather Condition</th>
      </tr>
      <ng-container *ngFor="let item of tableData[0]">
        <tr (click)="onCityClick($event, item.query.location.name)" *ngIf="item.query.location">
          <td data-th="Name">
            {{item.query.location.name}}
          </td>
          <td data-th="Humidity">
            {{item.query.current.humidity}}
          </td>
          <td data-th="Current Temperature">
            {{item.query.current.temp_c}}c
          </td>
          <td data-th="Weather Conditions">
            {{item.query.current.condition.text}}
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>



<div class="widget-wrapper">
  <div class="loader-text" *ngIf="isWidgetLoading; else widgetValues"></div>
  <ng-template #widgetValues>
    <span>Highest Temperature: {{widgetData.maxTemp}}</span>
    <span>Lowest Temperature: {{widgetData.minTemp}}</span>
    <span>Avg Humidity: {{widgetData.avgHumidity}}</span>
  </ng-template>
</div>

<span class="loader" *ngIf="isChartLoading"></span>
<div class="chart-wrapper section" #chartContainer>
  <app-chart  class="chart" *ngIf="!isChartLoading && chartData.length"
  [chartData]="chartData"
  [chartLabels]="chartLabels"
  >
  </app-chart> <!-- WIP, could be optimised  -->
</div>
