:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-title {
  padding: 10px 0;
  padding-left: 20px;
  color: white;
}

.nav-menu {
  display: flex;
  gap: 15px;
  padding-left: 20px;

  a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    background-color: #4B79A1;

  }


}
