<form class="form-wrapper section" [formGroup]="form">
  <h3 class="form-title">Make your own weather app</h3>

  <div class="input-field-wrap">
    <label for="" class="input-field-label">Choose Cities</label>
    <div class="input-wrap">
      <input type="text"
        class="input-field"
        (input)="filterCities($event)"
        placeholder="Search cities..."
        (focus)="cityDropdownOpened = true"
        >
      <div class="autocomplete-wrap">
        <span class="autocomplete-hidden">{{inputValue}}</span>
        <span class="autocomplete-suggestion">{{autocompleteSuggestion}}</span>
      </div>
    </div>

    <div class="select-option" (click)="openCityDropdown()">
      Choose City
      <div class="select-option-dropdown" *ngIf="cityDropdownOpened">
        <ul class="dropdown-city-list">
          <li class="select-option-item" *ngFor="let city of (listOfCitiesFiltered.length ? listOfCitiesFiltered : listOfCities)"
          (click)="onCityClick(city.name)"
          [class.disabled]="city.isDisabled"
          >
            {{ city.name }}
          </li>
        </ul>
      </div>


    </div>

    <div class="selected-cities">
      <span *ngFor="let city of listOfSelectedCities" (click)="onSelectedCityClick(city)">
        {{city}}
        <img src="../../../assets/images/close-icon.svg" alt="">
      </span>
    </div>
  </div>


<!-- [ngClass]="{'invalid-group': form.get('cities')?.invalid && form.get('cities')?.touched,'disabled': form.get('cities')?.invalid}" -->
  <div class="input-field-wrap metric-preference"
  [class.disabled]="form.get('cities')?.invalid"
  >
    <h3 for="" class="input-field-label">Choose metric preference (Minimum one)</h3>

      <label for="name" class="input-field-label">Name</label>
      <input type="checkbox" id="name"  (change)="onMetricCheckboxChange($event)" [checked]="form.get('metricPreferences')?.value?.includes('name')">

      <label for="country" class="input-field-label">Country</label>
      <input type="checkbox" id="country"  (change)="onMetricCheckboxChange($event)" [checked]="form.get('metricPreferences')?.value?.includes('country')">


      <label for="temperature" class="input-field-label">Temperature</label>
      <input type="checkbox" id="temp_c"  (change)="onMetricCheckboxChange($event)" [checked]="form.get('metricPreferences')?.value?.includes('temp_c')">


      <label for="humidity" class="input-field-label">Humidity</label>
      <input type="checkbox" id="humidity" (change)="onMetricCheckboxChange($event)" [checked]="form.get('metricPreferences')?.value?.includes('humidity')">


      <label for="wind_kph" class="input-field-label">Wind speed</label>
      <input type="checkbox" id="wind_kph" (change)="onMetricCheckboxChange($event)" [checked]="form.get('metricPreferences')?.value?.includes('wind_kph')">
  </div>

  <div class="input-field-wrap layout-options" [class.disabled]="form.get('metricPreferences')?.invalid">
    <h3 for="" class="input-field-label">Choose Display Options</h3>

    <span>Layout options:</span>
    <label for="layout-option-table">
      <input type="radio" id="layout-option-table" name="layoutOption" formControlName="layoutOption" value="Table"/>
      Table
    </label>

    <label for="layout-option-card">
      <input type="radio" id="layout-option-card" name="layoutOption" formControlName="layoutOption" value="Card"/>
      Card
    </label>

    <span>Chart options:</span>
    <label for="chart-option-line">
      <input type="radio" id="chart-option-line" name="chartOption" formControlName="chartOption" value="Line"/>
      Line
    </label>

    <label for="chart-option-bar">
      <input type="radio" id="chart-option-bar" name="chartOption" formControlName="chartOption" value="Bar"/>
      Bar
    </label>
  </div>


  <div class="submit-button" [ngClass]="{ 'disabled': form.invalid }" (click)="openSubmitPopup()">
    Submit
  </div>

</form>

<div class="selected-data-overlay" *ngIf="submitOverlayOpened">
  <div class="selected-data-wrap">
    <h3>Selected data:</h3>

    <div class="selected-data">
      <span>Chosen cities: {{form.value.cities?.join(', ')}}</span>
      <span>Chosen metrics: {{form.value.metricPreferences?.join(', ')}}</span>
      <span>Chosen layout: {{form.value.layoutOption}}</span>
      <span>Chosen chart: {{form.value.chartOption}}</span>
    </div>

    <button class="overlay-confirm" (click)="onSubmit()">Confirm</button>

    <button class="close-overlay" (click)="closePopup()">
      <img src="../../../assets/images/close-icon.svg" alt="">
    </button>
  </div>
</div>



